@import '../../App.scss';

.home {
  height: calc(100vh - 80px);
  position: relative;

  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      margin-top: 6rem;

      h1 {
        margin: 0;
        font-size: 70px;
        font-family: 'Gruppo', cursive;
      }

      .subtitle {
        font-size: 30px;
      }

      p,
      span {
        font-size: 14px;
      }
    }

    .container {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .forest:hover img {
        box-shadow: 0 0 15px 0 rgba(0, 148, 50, 1);
      }
      .island:hover img {
        box-shadow: 0 0 15px 0 rgba(10, 189, 227, 1);
      }

      .mountain:hover img {
        box-shadow: 0 0 15px 0 rgba(234, 32, 39, 1);
      }

      .swamp:hover img {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
      }

      .plains:hover img {
        box-shadow: 0 0 15px 0 rgba(245, 246, 250, 1);
      }

      img {
        width: 120px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .scroll {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0 1rem;
      }
    }
  }
  .begin {
    height: 100vh;
    display: flex;
    padding: 0;
    background-color: #1d1c25;

    .parallax {
      flex: 1;

      img.react-parallax-bgimage {
        height: 100% !important;
      }

      .hero-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .hero-card {
          display: flex;
          flex-direction: column;
          height: 60%;
          width: 50%;
          border: 10px solid black;
          border-radius: 15px;

          .hero-name {
            height: 35px;
            padding: 10px 15px;
            background-color: $darkBorder;
            border-radius: 2px 2px 0px 0px;

            .name-border {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid black;
              background-color: $lightBorder;
              padding: 3px 10px;
              border-radius: 0 8px;

              h2 {
                color: black;
              }

              .mana-cost {
                display: flex;
              }
            }

            h2 {
              margin: 0;
            }
          }

          .card-main {
            height: 100%;
            display: flex;
            position: relative;

            .img-container {
              flex: 2;
              height: 100%;
              display: flex;
              justify-content: start;

              img {
                width: 100%;
              }
            }

            .hero-info {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              height: 95%;
              width: 35%;
              position: absolute;
              top: 1.5%;
              right: 1.5%;
              background-color: rgba(255, 255, 255, 0.5);
              color: black;
              padding: 5px;

              .skill-badge_one {
                width: 30px;
                height: 30px;
                border: 1px solid #bdc3c7;
                border-radius: 7px 3px;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: -5px;
                top: 30%;
              }

              .two {
                top: 45%;
              }
              .three {
                top: 60%;
              }

              h6 {
                font-style: italic;
                font-size: 12px;
              }
              p {
                font-size: 18px;
              }
            }
          }

          .hero-type {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 35px;
            padding: 5px 10px;
            background-color: $darkBorder;

            .type-border {
              background-color: $lightBorder;
              border: 1px solid black;
              padding: 3px 5px;
              border-radius: 8px 0px;

              h3 {
                margin: 0;
                font-size: 17px;
                color: black;
              }
            }

            .hero-badge {
              height: 30px;
              width: 50px;
              border: 2px solid #bdc3c7;
              border-radius: 0px 8px 0px 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: black;
            }
          }
        }
      }
    }
    .story {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      flex: 1;

      h4 {
        font-size: 20px;
        text-align: start;
        margin-left: 80px;
      }

      .hero-prolog {
        padding: 0 50px;
        line-height: 30px;

        hr {
          opacity: 0.1;
        }

        h2 {
          font-size: 23px;
        }

        h4 {
          font-style: italic;
          font-size: 20px;
          text-align: start;
          margin: 30px 30px 0 30px;
        }
      }

      .hero-text {
        font-size: 20px;
      }

      span {
        font-style: normal;
        color: $primary-color;
      }

      input {
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: $primary-color;
        font-size: 18px;
        cursor: text;
        width: 170px;
        font-family: $text;
      }

      .facts {
        padding: 0 100px;
        line-height: 20px;
        font-size: 16px;
        font-style: italic;

        .roll {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            margin-left: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .divider {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0;
      font-size: 30px;
    }

    h2.adventure {
      font-size: 45px;
    }
  }

  .swamp-path {
    height: 100vh;

    .img-container {
      height: 80vh;
      width: 100%;

      img {
        height: 100vh;
        width: 100%;
      }
    }
  }
  .forest-path {
    height: 100vh;

    .img-container {
      height: 80vh;
      width: 100%;

      img {
        height: 100vh;
        width: 100%;
      }
    }
  }
  .plains-path {
    height: 100vh;

    .img-container {
      height: 100vh;
      width: 100%;

      img {
        height: 100vh;
        width: 100%;
      }
    }
  }
  .mountain-path {
    height: 100vh;

    .img-container {
      height: 100vh;
      width: 100%;

      img {
        height: 100vh;
        width: 100%;
      }
    }
  }
  .island-path {
    height: 100vh;

    .img-container {
      height: 100vh;
      width: 100%;

      img {
        height: 100vh;
        width: 100%;
      }
    }
  }
}
