@import '../../App.scss';

.home {
  height: calc(100vh - 30px);
  position: relative;

  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      margin-top: 6rem;

      h1 {
        margin: 0;
        font-size: 70px;
        font-family: 'Gruppo', cursive;
      }

      .subtitle {
        font-size: 30px;
      }

      p,
      span {
        font-size: 14px;
      }
    }

    .container {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .forest:hover img {
        box-shadow: 0 0 20px 0 rgba(0, 148, 50, 1);
      }
      .island:hover img {
        box-shadow: 0 0 20px 0 rgba(10, 189, 227, 1);
      }

      .mountain:hover img {
        box-shadow: 0 0 20px 0 rgba(234, 32, 39, 1);
      }

      .swamp:hover img {
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
      }

      .plains:hover img {
        box-shadow: 0 0 20px 0 rgba(245, 246, 250, 1);
      }
    }

    img {
      width: 120px;
      border-radius: 50%;
      cursor: pointer;
    }
    .scroll {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0 1rem;
      }
    }
  }
  .begin {
    height: 100vh;
    display: flex;
    padding: 0;
    background-color: #1d1c25;

    .hero-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .hero-card {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 50%;
        border: 10px solid black;
        border-radius: 15px;

        .hero-name {
          height: 35px;
          padding: 10px 15px;
          background-color: $darkBorder;
          border-radius: 2px 2px 0px 0px;

          .name-border {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid black;
            background-color: $lightBorder;
            padding: 3px 10px;
            border-radius: 0 8px;

            h2 {
              color: black;
            }

            .mana-cost {
              display: flex;

              .colorless-mana {
                height: 18px;
                width: 18px;
                border-radius: 50%;
                border: 1px solid black;
                background-color: grey;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: -1px 3px 0 0 black;
                margin-right: 3px;

                img.mana {
                  height: 20px;
                  width: 20px;
                }

                span {
                  color: black;
                  font-weight: 800;
                  font-size: 18px;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                }
              }
            }
          }

          h2 {
            margin: 0;
          }
        }

        .card-main {
          height: 100%;
          display: flex;
          position: relative;

          .img-container {
            flex: 2;
            height: 100%;
            display: flex;
            justify-content: start;

            img {
              width: 100%;
            }
          }

          .hero-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 95%;
            width: 35%;
            position: absolute;
            top: 1.5%;
            right: 1.5%;
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            padding: 5px;

            h6 {
              font-style: italic;
              font-size: 12px;
            }
            p {
              font-size: 18px;
            }
          }
        }

        .hero-type {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 35px;
          padding: 5px 10px;
          background-color: $darkBorder;

          .type-border {
            background-color: $lightBorder;
            border: 1px solid black;
            padding: 3px 5px;
            border-radius: 8px 0px;

            h3 {
              margin: 0;
              font-size: 17px;
              color: black;
            }
          }

          .hero-badge {
            height: 30px;
            width: 50px;
            border: 2px solid #bdc3c7;
            border-radius: 0px 8px 0px 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
          }
        }
      }
    }

    .story {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;
    }
  }
}
