.home {
  min-height: 100%;
  position: relative;

  .hero {
    height: 100%;

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      margin-top: 6rem;

      h1 {
        margin: 0;
        font-size: 70px;
        font-family: 'Gruppo', cursive;
      }

      .subtitle {
        font-size: 30px;
      }

      p,
      span {
        font-size: 14px;
      }
    }

    .container {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .forest:hover img {
        box-shadow: 0 0 20px 0 rgba(0, 148, 50, 1);
      }
      .island:hover img {
        box-shadow: 0 0 20px 0 rgba(10, 189, 227, 1);
      }

      .mountain:hover img {
        box-shadow: 0 0 20px 0 rgba(234, 32, 39, 1);
      }

      .swamp:hover img {
        box-shadow: 0 0 20px 0 rgb(0, 0, 0);
      }

      .plains:hover img {
        box-shadow: 0 0 20px 0 rgba(245, 246, 250, 1);
      }
    }

    img {
      width: 140px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
