@import '../../App.scss';

.land-container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 4rem 0 6rem 0;

  .land-features {
    flex: 2;
    padding: 30px 50px 30px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 30px;
      color: $primary-color;
      text-align: center;
    }

    .land-gameplay {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.9);

      p {
        font-size: 20px;
      }
    }

    .land-bottom {
      display: flex;
      align-items: center;
      height: 320px;
      margin-top: 50px;

      li {
        font-size: 20px;
        padding: 5px;
      }

      .land-abilities {
        flex: 1;

        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.9);
        margin-right: 40px;
        position: relative;

        .open {
          height: 200px;
          animation: fadeIn 0.5s 0.1s forwards;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          opacity: 0;
          height: 0;
          margin-bottom: 20px;
        }
      }

      .land-tribes {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;

        .open {
          height: 200px;
          animation: fadeIn 0.5s 0.1s forwards;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          opacity: 0;
          height: 0;
          margin-bottom: 20px;

          li {
            padding: 15px;
          }
        }
      }
    }
  }

  .land-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid black;

    span {
      color: $primary-color;
      font-weight: 600;
    }

    h1 {
      font-size: 45px;
      color: white k;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }

    h2 {
      line-height: 30px;
      font-weight: 300;
      font-size: 32px;
    }

    img {
      height: 80px;
      width: 80px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
