.search {
  min-height: calc(100vh - 80px);
  padding: 50px;

  /* ff 3.6+ */
  background: -moz-linear-gradient(180deg, #431e3f 0%, #1d1c25 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(180deg, #431e3f 0%, #1d1c25 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(180deg, #431e3f 0%, #1d1c25 100%);

  /* ie 10+ */
  background: -ms-linear-gradient(180deg, #431e3f 0%, #1d1c25 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(180deg, #431e3f 0%, #1d1c25 100%);
}

// #mtg h1 {
//   position: absolute;
//   top: 100px;
//   left: 39%;
//   margin-top: 30px;
//   opacity: 0;
//   animation: fadeInLeftBig 3.5s 1.7s forwards;
// }

// #search h1 {
//   position: absolute;
//   top: 100px;
//   right: 39%;
//   margin-top: 30px;
//   opacity: 0;
//   animation: fadeInRightBig 3.5s 1.7s forwards;
// }

// h1 {
//   font-family: Coolvetica;
//   font-weight: 500;
//   font-size: 50px;
//   letter-spacing: 0.5rem;
//   color: #fff;
// }

// .icon-button {
//   position: absolute;
//   z-index: 100;
//   left: 590px;
//   top: -350px;
// }
