@import '../../App.scss';
.search {
  min-height: calc(100vh - 80px);
  padding: 50px;
  display: flex;
  flex-direction: column;

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;

    .select-container {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .search-title {
        display: flex;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }

      .input-container {
        display: flex;
        align-items: center;
        margin-left: 20px;

        .active-input:checked::after {
          background: linear-gradient(
            135deg,
            rgba(67, 30, 63, 1) 0%,
            rgba(29, 28, 37, 1) 100%
          );
          color: white;
        }

        .active-input:after {
          background: linear-gradient(
            135deg,
            rgba(67, 30, 63, 1) 0%,
            rgba(29, 28, 37, 1) 100%
          );
        }

        .input:before {
          position: relative;
          top: -5px;
          display: block;
          width: 22px;
          height: 22px;
          background: #fff;
          border: 1px solid rgba(29, 28, 37, 1);
          content: '';
          cursor: pointer;
        }

        .input:after {
          position: relative;
          display: block;
          left: 1px;
          top: -28px;
          width: 20px;
          height: 20px;
          border-width: 1px;
          border-style: solid;
          border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
          content: '';
          background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }

        .input:checked:after {
          display: flex;
          align-items: center;
          justify-content: center;
          content: '✓';
        }

        .input:not(:disabled):hover:after {
          background: linear-gradient(
            135deg,
            rgba(67, 30, 63, 1) 0%,
            rgba(29, 28, 37, 1) 100%
          );
          border-color: #85a9bb #92c2da #92c2da #85a9bb;
        }

        .input:not(:disabled):checked:hover:after {
          background: linear-gradient(
            135deg,
            rgba(67, 30, 63, 1) 0%,
            rgba(29, 28, 37, 1) 100%
          );
          color: white;
        }

        img {
          width: 20px;
          height: 20px;
          margin-left: 15px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
    }
  }

  .btn-contanier {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
    }
  }

  .drawer {
    position: relative;

    .icon-button {
      position: absolute;
      z-index: 100;
      right: 0;
      top: -200px;
    }
  }

  .grid-container {
    height: 100%;
  }
}
