.search {
  min-height: calc(100vh - 80px);
  padding: 50px;
  display: flex;
  flex-direction: column;

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;

    .btn-contanier {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
      }
    }

    .select-container {
      flex: 1;
    }
  }

  .drawer {
    position: relative;

    .icon-button {
      position: absolute;
      z-index: 100;
      right: 0;
      top: -200px;
    }
  }

  .grid-container {
    height: 100%;
  }
}
