.nav-bar {
  display: flex;
  justify-content: center;
  background: transparent;
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  z-index: 3;

  img {
    display: block;
    position: absolute;
    left: 10px;
    bottom: -5px;
    width: 60px;
    background: transparent;
  }

  nav {
    display: flex;
    margin-top: 20px;

    a {
      font-size: 35px;
      margin: 0px 20px;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ee5a24;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 14px;
        letter-spacing: 1px;
        position: absolute;
        bottom: 30px;
        margin-left: -10px;
        display: flex;
        width: 100%;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.search-link {
      &:after {
        content: 'SEARCH';
      }
    }

    a.deck-link {
      &:after {
        content: 'DECK';
      }
    }

    a.active {
      svg {
        color: #ee5a24;
      }
    }
  }
}
