html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #000b18;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
